body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 50px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

main {
  max-width: 800px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}

label {
  margin-bottom: 5px;
}

input, textarea, select, button {
  padding: 10px;
  margin-bottom: 20px;
}

#malware-output, #crack-output, #scan-output {
  margin-top: 20px;
  white-space: pre;
}
